{% extends 'PrestaCMSCoreBundle:Block:base_block.html.twig' %}

{% block block %}
<div class="cms-block-media-advanced-container {{ settings.layout }}">
    {% if (settings.title|length) %}
        <{{ settings.title_level }} class="cms-block-media-title">{{ settings.title }}</{{ settings.title_level }}>
    {% endif %}

    {% if (settings.media) %}
        <div class="cms-block-media-container">
            <img src="{% path settings.media, settings.format %}" alt="{{ settings.media_alt }}" />
        </div>
    {% endif %}

    {% if (settings.content|length) %}
        <div class="cms-block-media-content">
            {{ settings.content|wysiwyg|raw }}
        </div>
    {% endif %}
</div>
{% endblock %}